
@{
    ViewBag.Title = "Benjamin's Skills";
}

<div class="jumbotron">
    <div class="container">
        <img src="~/Content/Photos/wargames.jpg" class="img-rounded" id="skillsImg" />
        <br />
        <h2 id="skillsHeading">Skills</h2>
    </div>
</div>
<div class="container-fluid">
    <!-- Row of columns -->
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <table id="skillsTable" align="center">
                <tr>
                    <th colspan="4"><b>Languages</b></th>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.w3schools.com/html/default.asp" target="_blank">
                            <img src="~/Content/Photos/HTML5.png" class="skill" style="display:inline" /><br />HTML 5
                        </a>
                    </td>
                    <td>
                        <a href="http://www.w3schools.com/css/default.asp" target="_blank">
                            <img src="~/Content/Photos/CSS3.png" class="skill" style="display:inline" /><br />CSS 3
                        </a>
                    </td>
                    <td>
                        <a href="http://www.w3schools.com/js/default.asp" target="_blank">
                            <img src="~/Content/Photos/JS.png" class="skill" style="display:inline" /><br />JavaScript
                        </a>
                    </td>
                    <td>
                        <a href="http://www.w3schools.com/php/default.asp" target="_blank">
                            <img src="~/Content/Photos/php.gif" class="skill" style="display:inline" /><br />PHP
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://jquery.com" target="_blank">
                            <img src="~/Content/Photos/jQuery.gif" class="skill" style="display:inline" /><br />jQuery
                        </a>
                    </td>
                    <td>
                        <a href="http://www.w3schools.com/sql/" target="_blank">
                            <img src="~/Content/Photos/SQL.png" class="skill" style="display:inline" /><br />SQL
                        </a>
                    </td>
                    <td>
                        <a href="http://computer.howstuffworks.com/c.htm" target="_blank">
                            <img src="~/Content/Photos/C.png" class="skill" style="display:inline" /><br />C
                        </a>
                    </td>
                    <td>
                        <a href="https://msdn.microsoft.com/en-us/library/z1zx9t92.aspx" target="_blank">
                            <img src="~/Content/Photos/Csharp.jpg" class="skill" style="display:inline" /><br />C#
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html"
                           target="_blank">
                            <img src="~/Content/Photos/Objective_C.png" class="skill" style="display:inline" /><br />Objective C
                        </a>
                    </td>
                    <td colspan="2">
                        <a href="http://java.com/en/download/faq/whatis_java.xml" target="_blank">
                            <img src="~/Content/Photos/Java.png" class="skill" style="display:inline" /><br />Java
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row" id="ordered">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2 id="additionalSkills">Additional Skills:</h2>
            <ol>
                <li>Problem Solving</li>
                <li>
                    <a href="https://developer.mozilla.org/en-US/docs/AJAX/Getting_Started"
                       target="_blank">AJAX</a>
                </li>
                <li>Self Sufficient Learner</li>
                <li>Quick to acclimate and adapt</li>
                <li>Neatness of code</li>
                <li>Resource Management</li>
                <li>Object oriented design</li>
                <li>Unit Testing</li>
                <li>Debugging</li>
            </ol>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<footer>
    <br />
    <br />
    <audio controls autoplay>
        <source src="~/Content/Audio/Silvermoon-City.mp3" type="audio/mpeg" />
        Your browser does not support audio
    </audio>
</footer>
